.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    margin: auto;
    padding: 40px 0;
  }
  
  .contact-text {
    flex: 1;
    max-width: 40%;
  }
  
  h2 {
    font-size: 22px;
    font-weight: bold;
    color: #111c50;
  }
  
  p {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
  }
  
  .contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 50%;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  textarea {
    height: 100px;
    resize: none;
  }
  
  .tonne {
    background-color: #12291B;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .tonne:hover {
    background-color: #1c412a;
  }
  
  .status-message {
    margin-top: 10px;
    font-size: 14px;
    color: green;
  }
  